.ce_dlh_googlemaps, 
.mod_dlh_googlemaps,
.ce_openstreetmap {
    position: relative; 
    height: 0;
    width: 100%;
    padding-bottom: 50%;
    
    .dlh_googlemap {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    @media screen and (max-width: 520px) {
        padding-bottom: 80%;
    }
}

.ce_openstreetmap {
    position: relative; 
    .open-street-map-block {
        position: relative;
        padding-bottom: 50%;
        @media screen and (max-width: 520px) {
            padding-bottom: 80%;
        }
    }
    iframe {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
}

.map-container {
    position: relative;
}