
// basic styling taken over from magmell-hosting to get us started
body.privacy {
	counter-reset: section;
	h2 {
		counter-increment: section;
	}
	h2:before {
		content: counter(section) ". ";
	}
	// needs to be treated visibly different, for legal reasons - bold or uppercase are the recommendations
	.dsgvo21 {
		> .innerbox > .textcontainer,
		> .inside {
			padding: 2em;
			background: #eee;
		}

		> p {
			text-transform: uppercase;
		}
	}
}

