
// basic styling taken over from magmell-hosting to get us started
body.privacy {
	counter-reset: section;

	#container {
		h2 {
			counter-increment: section;
			&:before {
				content: counter(section) ". ";
			}
		}
	}
	// needs to be treated visibly different, for legal reasons - bold or uppercase are the recommendations
	.dsgvo21 {
		> .innerbox > .textcontainer,
		> .inside,
		> .txt_container {
			padding: 2em;
			background: #eee;
			p:last-child {
				margin-bottom: 0;
			}
		}

		> p {
			text-transform: uppercase;
		}
	}
}

