
// just for testing, module and openstreetmap missing, responsive rules missing etc.
.ce_dlh_googlemaps {
	position: relative;
	height: 0;
	padding-bottom: 50%;
	.dlh_googlemap {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
